body{
    font-family: sans-serif;
}
button.verify_button {
    width:100%;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 3rem;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: red;
}

ol {
    height: 1em;
    list-style: none;
    overflow-y: hidden;
    line-height: 1;
    font-size: 8em;
    border: solid thin black;
    text-align: center;
    padding:20px;
    padding-left:0.7em;
    padding-right:0.7em;
    margin: 1px;
    background-color: slategrey;
    color: limegreen;
}

ol>li{
    padding-bottom: 1em;
}

.move{
    width: 100%;
    font-size: 2em;
}


.grid_container {
    width: 100%;
    grid-gap: 20px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: chocolate;
    padding-left: 246px;
    padding-right: 20px;
    padding-top: 4em;
    border: solid thick black;
    background-image: url(villain.png);
    background-repeat: no-repeat;
}

.sidebar {

    width:100%;
    height:100%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
}

.up {
    background-image: url(up.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.down {
    background-image: url(down.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

#contenedor {
    width:100%;
    height: 200px;
    min-height: 200px;
    overflow-y: hidden;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3;
}

#respuesta{
    width: 100%;
    font-size: 3rem;
    text-align: center;
}

.norevelado {
    margin-top: -60px;

}

.revelado {
    color: limegreen;
    animation-name: bounce;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

@keyframes bounce {
    0% {
        background-color: black;
        margin-top: -60px;
    }
    100% {
        margin-top: 20px;
        background-color: black;
    }
}


