input {
    font-size: 4rem;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

button {
    grid-row: 2;
}

.grid_container {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#contenedor {
    height: 200px;
    min-height: 200px;
    overflow-y: hidden;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3;
}

.norevelado {
    margin-top: -50px;

}

.revelado {
    animation-name: bounce;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 0s;

}

@keyframes bounce {
    0% {
        background-color: tomato;
        margin-top: -20px;
    }
    100% {
        margin-top: 50px;
        background-color: tomato;
    }
}